.summary-box {
  display: flex;
  width: 100%;
  height: 265px;
  color: #999;
  border: 1px solid #e5e5e5;
  padding: 15px 15px 0;
  margin-bottom: 15px;
}

.summary-box .summary-stats,
.summary-box .summary-graph {
  width: 50%;
}

.summary-box .summary-graph .summary-EChart{
  margin-top: -30px;
}

.summary-stats .summary-stats_title {
  margin-bottom: 15px;
  font-weight: 300;
  color: #999;
  font-size: 20px;
  line-height: 1.3;
}

.summary-stats .summary-stats_title h2 {
  color: #000;
  word-wrap: break-word;
  font-size: 30px;
  font-weight: 900;
}

.summary-stats .summary-stats_title p {
  font-size: 16px;
}

.summary-stats .summary-stats_total {
  padding: 25px 0;
  text-align: center;
}

.summary-stats .summary-stats_total p:first-child {
  font-size: 50px;
  color: #000;
  line-height: 1.2;
}

@media screen and (max-width: 1200px) {
  .summary-box .summary-graph .summary-EChart{
    margin-top: -30px;
  }
}
