@media screen and (max-width: 1400px) {
  /* 折叠时样式--菜单时图标 */
  .side-nav .side-footer .side-footer-icon::before {
    display: none;
  }

  /* 折叠时样式--菜单时图标 */
  .side-nav {
    width: 60px;
    white-space: nowrap;
    color: #fff;
  }

  .side-nav .side-head span,
  .side-nav .side-menu .side-item-title,
  .side-nav .side-footer .side-footer-title {
    visibility: hidden;
    opacity: 0;
  }

  .side-nav .side-menu li:hover .collapsedTitle,
  .side-nav .side-footer:hover .collapsedTitle {
    display: flex;
  }

  .content .summary-box {
    flex-direction: column;
    height: 500px;
  }

  .content .summary-box .summary-stats,
  .content .summary-box .summary-graph {
    height: 50%;
    width: 100%;
  }

  .content .summary-box .summary-stats {
    border-bottom: 1px dotted #e5e5e5;
  }

}

@media screen and (max-width: 850px) {
  .widgets-grid {
    flex-direction: column;
  }
  .widgets-grid .widgets-grid_col {
    width: 100%;
  }

  .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    z-index: 100;
  }

  .nav .side-nav {
    display: flex;
    width: 100% !important;
  }

  .side-nav .side-head,
  .side-nav .side-footer {
    display: none;
  }

  .side-nav .side-menu ul {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px -3px 14px #ccc;
  }

  .side-nav .side-menu ul li {
    flex:1
  }

  .side-nav .side-menu li a {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    padding: 5px;
  }

  .side-nav .side-menu li a[class='active'] {
    border: none;
    color: red;
  }

  .side-nav .side-menu .side-item-icon {
    position: unset;
  }

  .side-nav .side-menu .side-item-title {
    visibility: visible ;
    opacity: unset;
    padding: 0;
  }

  .collapsedTitle {
    display: none !important;
  }

  /* 内容区域 */
  .content .data-box,
  .content .tree {
    margin-bottom: 80px;
  }
  .content .gutter {
    display: none;
  }

  .content .page-container .side-right {
    display: block !important;
    position: fixed;
    z-index: 132;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.5);
  }

  .content .page-container .side-right .close-btn {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background-color: #97cc64;
    color: #fff;
  }

  .content .page-container .side-right .test-result {
    background-color: #fff;
    max-height: 80vh;
    overflow-y: auto;
    padding-bottom: 30px;
  }

  .content .summary-box {
    flex-direction: row;
    height: 265px;
  }

  .content .summary-box .summary-stats,
  .content .summary-box .summary-graph {
    width: 50%;
    height: 100%;
    /* border-bottom: 1px dotted #e5e5e5; */
  }

  .content .widgets-grid .widgets-grid_col .data-box {
    margin-bottom: 15px;
  }

  .content .widgets-grid .widgets-grid_col:nth-child(2) {
    margin-left: 0;
  }
  .content .widgets-grid .widgets-grid_col:nth-child(2) .data-box {
    margin-bottom: 80px;
  }

}

@media screen and (max-width: 600px) {
  .content .summary-box {
    height: 500px;
    flex-direction: column;
  }
  .content .summary-box .summary-stats,
  .content .summary-box .summary-graph {
    height: 50%;
    width: 100%;
  }
  .content .summary-box .summary-stats {
    border-bottom: 1px dotted #e5e5e5;
  }

}

@media screen and (min-width: 850px) {
  .content .page-container .side-right .close-btn {
    display: none;
  }
}
